<div class="container" >
    <body>
        <body background="큐피트.jpg">
    <center><h1 style="margin-bottom: 40px; margin-top: 40px;, FONT face=WingDings"> ♡사랑의 큐피트♡</h1></center>
    <form action="/write" method="POST" style="background-color:rgba(255,255,255,0.4); padding-bottom: 40px; padding-top: 40px; padding-left:10px; padding-right:10px">
        <div class="form-group">
            <label for="address">TO.♡</label>
            <input name="address" type="email" class="form-control" id="exampleInputEmail1" placeholder="보내는 사람">
        </div>
        <div class="form-group">
            <label for="title">제목</label>
            <input name ="title" type="text" class="form-control" id="exampleInputEmail1" placeholder="제목">
        </div>
        <div class="form-group">
             <label for="content">내용</label>
             <textarea name="content" class="form-control" rows="5" id="comment" placeholder="내용을 입력해주세요"></textarea>
        </div>
      	<button type="submit" class="alert alert-danger" style="cursor:pointer" color="white">♡~화살을 쏩니다~♡</button>
	</form>
	</body>
</div>